body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Helvetica';
    margin-top: 1rem;
    font-weight: 200;
    font-size: 24px;
}

#container {
    position: absolute;
    width: 30rem;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -15rem 0 0 -250px;
    text-align: center;
}

.data {
    padding-bottom: 1rem;
    font-weight: 100;
}

.number {
    color: green;
}

.fb-share-button {
    margin-bottom: 1rem;
    margin-top: -2rem;
    margin-right: 1rem;
}

#title {
    font-family: 'Gill Sans', 'Gill Sans MT';
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

a {
    font-size: 0.8rem;
    font-weight: 400;
}

#shareContainer {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1800px) {
    body {
	transform: scale(1.4);
	transform-origin: 50% 10%;
    }
}
    