body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Helvetica';
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: 200;
}

.data {
    padding-bottom: 0.5rem;
}

.number {
    color: green;
}

.fb-share-button {
    margin-bottom: 1rem;
    margin-top: -2rem;
    margin-right: 1rem;
}

#title {
    font-family: 'Gill Sans', 'Gill Sans MT';
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

a {
 
}