
#explan1 {
    position: absolute;
    font-family: Gill Sans;
    font-weight: 500;
    text-align: left;
    margin-left: 4rem;
    margin-right: 1rem;
    margin-top: 14rem;
    font-size: 1.4vw;
    color: rgb(0,112,184);
}
